.CardsT {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  margin: 2rem auto;
}

.cardTBody {
  flex: 1;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  min-height: 350px;
  overflow: hidden;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardT-content {
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background 0.3s;
}

.cardT-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.cardT-description {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 1rem;
  transition: opacity 0.5s, max-height 0.5s;
  overflow-y: scroll;
}

.cardT-description::-webkit-scrollbar {
  width: 6px;
}

.cardT-description::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.cardT-description::-webkit-scrollbar-track {
  background: transparent;
}

.cardTBody:hover .cardT-description {
  opacity: 1;
  max-height: 250px;
  background-color: rgba(0, 0, 0, 0.103);
}


@media (max-width: 768px) {
  .CardsT {
    flex-direction: column;
  }
  
  .cardTBody {
    margin-bottom: 1rem;
  }
}
