.slideshow-container {
    position: relative;
    max-width: 1200px;
    margin: 2rem auto;
    overflow: hidden;
    border-radius: 12px;
    height: 100%;
  }
  
  .slide {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 2rem;
    background: transparent;
    min-height: 65vh;
    justify-content: space-around;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .slide img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 200ms transform ease-in-out;
  }
  
  .slide img:hover {
    transform: scale(1.03);
  }
  
  .slide-content {
    text-align: center;
    padding: 0 1rem;
    max-width: 45%;
  }
  
  .slide-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    color: #4A2617;
    position: relative;
    top: 0;
  }
  
  .slide-content p {
    font-size: 1rem;
    color: #4A2617;
    margin-bottom: 1.5rem;
    line-height: 1.0;
  }
  
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: #4A2617;
    border: none;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .prev:hover:not(:disabled), .next:hover:not(:disabled) {
    background-color: #291A30;
    transform: translateY(-50%) scale(1.05);
    border: 3px solid #DBC99D;
    color: #DBC99D;
  }
  
  .prev:disabled, .next:disabled {
    opacity: 0
  }
  
  .prev {
    left: 20px;
  }
  
  .next {
    right: 20px;
  }
  
  .dots-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #DBC99D;
    cursor: pointer;
    transition: all 0.3s ease;
    perspective: 100px;
  }
  
  .dot.active {
    background-color: #291A30;
    transform: scale(1.2);
    border: 3px solid #DBC99D;
  }
  
  .dot:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .slideshow-container {
      max-width: 99%;
      margin: 1rem auto;
      height: 100%;
    }
    
    .slide {
      padding: 1.5rem;
      flex-direction: column;
      align-items: center;
    }
    
    .slide img {
      max-width: 80%;
      margin-bottom: 1rem;
    }
    
    .prev, .next {
      width: 40px;
      height: 40px;
      font-size: 1.2rem;
    }
    
    .slide-content h3 {
      font-size: 1.3rem;
    }
    
    .btn-ver-mais {
      padding: 0.5rem 1rem;
    }
  
    .slide-content {
      text-align: center;
      padding: 0 1rem;
      max-width: 90%;
      margin-top: 1rem;
    }
    
    .slide-content p {
      font-size: 0.9rem;
      margin-bottom: 1rem;
      line-height: 1.3;
    }
    
    .dots-container {
      margin-top: 30px;
      gap: 15px;
    }
    
    .dot {
      width: 12px;
      height: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .slide {
      padding: 1rem;
      flex-direction: column;
      min-height: 650px;
    }
    
    .slide img {
      max-width: 90%;
    }
    
    .prev {
      left: 5px;
    }
    
    .next {
      right: 5px;
    }
    
    .slide-content p {
      font-size: 0.85rem;
      line-height: 1.2;
    }
    
    .dot {
      width: 10px;
      height: 10px;
    }
    
    .dots-container {
      gap: 10px;
      bottom: 10px;
    }
  }
  
  @keyframes go-back {
    from {
      transform: translateX(8px);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes buttonPulse {
    0% {
      transform: translateY(-50%) scale(1);
    }
    50% {
      transform: translateY(-50%) scale(1.1);
    }
    100% {
      transform: translateY(-50%) scale(1);
    }
  }
  
  .prev:hover:not(:disabled), .next:hover:not(:disabled) {
    animation: buttonPulse 1s infinite;
  }
  
  @keyframes dotPulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .dot:hover {
    animation: dotPulse 1s infinite;
  }
  
  .dot.active {
    animation: dotPulse 2s infinite;
  }